* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body, html {
 height: 100%;
 margin: 0 auto;
}

#small {
    font-size: 10px;
}

#bg {
    background: url("../images/bull.jpg");
        height: 890px;
        max-height: 100%;
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

#main-stuff {
    background-image: url("../images/barcelona.jpg");
        height: 100%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.divide {
    margin-bottom: 50px;
    margin-top: 50px;
}

.header-box {
    position: fixed;
    top: 0;
}

.header-box h1 {
    color: rgba(26, 40, 40, 0.75);
    font-size: 40px;
    width: 50px;
    margin: 0 auto;
    text-align: center;
}

#head-container {
    text-align: justify;
}

#ham-btn {
    margin: 0 auto;
}

li a {
    list-style-type: none;
    color: rgba(26, 40, 40, 1);
    padding: 5px 15px 5px 15px;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 18px;
}

a:hover {
    color: rgba(26, 40, 40, 0.5);
    text-decoration: none;
}

/* Underline Reveal */
.hvr-underline-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background: #B9A34B;
  height: 4px;
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-reveal:hover:before, .hvr-underline-reveal:focus:before, .hvr-underline-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}