* {
    box-sizing: border-box;
    font-family: 'Rambla', sans-serif;

}

body {
    background-image: url("../images/seigaiha.png")
}

.header-box {
    background-color: #153243;
    border-bottom: #284b63 10px solid;
    border-top: #284b63 10px solid;
    color: #eef0eb;
    font-weight: bold;
}

.header-box h1 {
    color: #eef0eb;
    font-size: 50px;
    text-align: center;
}

ul .navigation {
    list-style-type: none;
    display: inline-flex;
}

li a {
    color: #eef0eb;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #284b63;
    margin: 5px;
}

a:hover {
    color: rgba(238, 240, 235, 0.6);
    text-decoration: none;
}

@-webkit-keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes hvr-pulse {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }
  